aiohttp==3.8.3
aiosignal==1.3.1
ansicon==1.89.0
asgiref==3.5.2
async-timeout==4.0.2
attrs==22.2.0
blessed==1.19.1
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
Django==4.1.4
django-grappelli==3.0.4
et-xmlfile==1.1.0
frozenlist==1.3.3
humanize==4.4.0
idna==3.4
jinxed==1.2.0
multidict==6.0.3
nump==0.1
numpy==1.24.0
opencv-python==4.6.0.66
openpyxl==3.0.10
pg-activity==3.0.1
Pillow==9.3.0
psutil==5.9.4
pycryptodomex==3.16.0
PyJWT==2.6.0
pytz==2022.7
requests==2.28.1
six==1.16.0
sqlparse==0.4.3
stream-django==1.8.0
stream-python==5.1.1
tzdata==2022.7
urllib3==1.26.13
wcwidth==0.2.5
yarl==1.8.2
